body{
    background-color: rgb(213, 241, 241);
}
.navbar{
    height: 150px;
    background-color: antiquewhite;
    color: black;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
}
.nav-logo{
    color: rgb(204, 20, 179);
    text-decoration: none;
}

.nav-links{
    display: flex;
    gap: 20px;
    list-style: none;
}

.nav-link{
    color: rgb(87, 155, 132);
    text-transform: none;
}
.nav-link:hover{
    color: rgb(224, 91, 38);
    text-transform: none;
    font-family: 'Courier New', Courier, monospace;
}

.nav-icons{
    display: none;
    font-size: 2rem;
    cursor: pointer;
}
@media screen and (max-width:800px){
    .nav-icons{
        display: flex;
    }
} 